.btn{
    width:fit-content;
    padding:auto 0.5em;
    width:10em;
}
.setting-main-icon{
    aspect-ratio:1;
    width:fit-content;
    padding:2em;
}
.box{
    padding: 30px;
    background: rgba(255, 255, 255, 0.20);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(0, 0, 0, 0.075);
}